.cabecalho{
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    .navbar{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .logo{
            overflow: hidden;
            width: 18vw;
            height: 3.2vw;
            margin-left: 2vw;
            //background: url('../img/logoL.png');
            background-size: cover;
        }
        .dropdown{
            display: none;
        }
        .links{
            overflow: hidden;
            @include transition;
            padding: 0;
            width: 40vw;
            margin: 0 2vw 0 0;
            font-size: 1.5rem;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                overflow: hidden;
            }
            a{
                color: $secondary-color;
                text-decoration: none;
                @include transition;
                &:hover, &.active{
                    color: $accent-color;
                    border-bottom: 1px solid $accent-color;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .cabecalho .navbar .links{
        width: 55vw;
    }
}

@media (max-width: 950px){
    .cabecalho .navbar .links{
        width: 60vw;
    }
}

@media (max-width: 800px){
    .cabecalho{
        position: static;
    }
    .cabecalho .navbar{
        .logo{
            width: 4.9vw;
            height: 2.9vw;
            //background: url('../img/logoS.png');
            background-size: cover;
        }
        .dropdown{
            cursor: pointer;
            overflow: hidden;
            position: relative;
            height: 20px;
            width: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 2vw;
            z-index: 15;
            .linha{
                &, &::before, &::after{
                    content: '';
                    border-radius: 4px;
                    background-color: $secondary-color;
                    height: 4px;
                    width: 28px;
                    transition-delay: .25s;
                    transition: transform .55s ease-in-out,
                                width .25s ease-in-out;
                }
                &::before{
                    top: 0;
                    position: absolute;
                }
                &::after{
                    bottom: 0;
                    position: absolute;
                }
            }
            &.active .linha{
                width: 0px;
                background-color: $primary-color;
                &::before{
                    width: 27px;
                    transform: translateY(8px) 
                                rotate(225deg);
                }
                &::after{
                    width: 27px;
                    transform: translateY(-8px)
                                rotate(315deg);
                }
            }
        }
        .links{
            position: absolute;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            top: -200vh;
            bottom: 200vh;
            left: 0;
            width: 100vw;
            font-size: 2.5rem;
            background-color: $dark-overlay;
            z-index: 10;
            li{
                transform: translateX(200vw);
                transition: all .25s ease-in-out;
            }
            &.active{
                transform: translateY(200vh);                    
                li{
                    transition: all 1s ease-in-out;
                    transform: translateX(0vw);
                }
            }
        }
    }
}